[user]
	email = matthew.ault@gmail.com
	name = Matthew Ault
	signingkey = 11D9A522E3D0CC9E
[commit]
	gpgsign = true
[alias]
	co = checkout
	unstage = reset HEAD --
	# branch-recent = branch --sort=-committerdate --color=always
	branch-recent = "!current=$(git symbolic-ref --short HEAD); git for-each-ref --count=10 --sort=-committerdate --format=\"%(committerdate:short) %(refname:short)\" refs/heads/ | while read date branch; do if [ \"$branch\" = \"$current\" ]; then printf \"\\033[32m* %s %s\\033[0m\\n\" \"$date\" \"$branch\"; else printf \"  %s %s\\n\" \"$date\" \"$branch\"; fi; done"
	lg = log --pretty=format:'%C(auto)%h %s%d %C(blue)(%cr)%Creset' --abbrev-commit
[push]
	default = current
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/